[submodule "python-mode"]
	path = python-mode
	url = https://github.com/fgallina/python.el.git
[submodule "gist"]
	path = gist
	url = git://github.com/defunkt/gist.el
[submodule "cucumber.el"]
	path = cucumber.el
	url = https://github.com/michaelklishin/cucumber.el
[submodule "git-commit-mode"]
	path = git-commit-mode
	url = https://github.com/rafl/git-commit-mode.git
[submodule "markdown-mode"]
	path = markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "rainbow"]
	path = rainbow
	url = git://git.naquadah.org/rainbow.git
